@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter);
  font-weight: 300;
}

:root {
  --color-background: #18181b;
  --color-foreground: #cecece;
  --color-primary: #a64242;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.privacidad p {
  color: rgb(163, 163, 163);
  margin-bottom: 1rem;
}
