@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #18181b;
  --color-foreground: #cecece;
  --color-primary: #a64242;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
